{% extends 'base.html' %}
{% block content %}
<div class="flex">
    <!-- Main Content -->
    <div class="flex-grow bg-gray-100 p-6 md:ml-64 sm:mb-16">
        <div class="max-w-3xl mx-auto bg-white shadow-md rounded-lg p-6">
            <div class="flex items-center space-x-4 mb-6">
                <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" 
                    class="w-24 h-24 rounded-full shadow-md border-2 border-green-700">
                <div>
                    <h2 class="text-2xl font-bold text-gray-900">
                        @{{ profile.user.username }}'s Profile
                    </h2>
                </div>
            </div>
            <div class="text-gray-700">
                <p class="mb-4">
                    <strong class="font-medium">Name:</strong> {{ user.first_name }} {{ user.last_name }}
                </p>
                <p class="mb-4">
                    <strong class="font-medium">Email:</strong> {{ profile.user.email }}
                </p>
                <p class="mb-4">
                    <strong class="font-medium">City:</strong> {{ user.profile.city }}
                </p>
            </div>
            <div class="mt-6 flex justify-end">
                <a href="{% url 'core:edit_profile' user.id %}" 
                    class="bg-green-600 hover:bg-green-700 text-white font-medium py-2 px-4 rounded">
                    Edit Profile
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
