# Core dependencies
Django>=4.2,<5.0          # Latest stable version of Django
psycopg2-binary>=2.9.8    # PostgreSQL adapter for Django

# Optional dependencies for image handling
Pillow>=9.3.0             # For image processing (required for Django ImageField)

# For managing static files
whitenoise>=6.5.0         # Serve static files in production

# If using environment variables
python-decouple>=1.0.0      # Load environment variables from .env file

# For production use 
gunicorn>=21.2.0
dj-database-url==0.5.0
